import React from 'react';
import './app.less';

interface IProp {
  name: String;
}

const App = (prop: IProp) => {
  return (
    <div className="title">{prop.name}</div>
  );
};

export default App;
